body {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
  background-image:url('../images/giphy2.gif');
  background-color: #fafafa;
  height: 710px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 46px;
}

h1{
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  font-size: 3em;
}

p{
  font-family: 'Vast Shadow', cursive;
  font-size: 16px;
  margin: 1px;
}

#container {
  background-color;
}

.lyrics-board {
  max-width: 400px;
  color: orange;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#display {
  background-color: white;
  margin: 0 auto 20px;
  color: black;
  border: 3px solid black;
  opacity: 0.9;
  border-radius: 70px;
  padding: 60px;
}

form input{
  font-family: 'Vast Shadow', cursive;
  width: 35px;
  font-size: 16px;
  border-radius: 15px;
  background-color: white;
  opacity: 0.9;
  margin: 1px;
  text-align: center;
}

#play, #reset{
  font-family: 'Vast Shadow', cursive;
  width: 150px;
  font-size: 20px;
  border-radius: 15px;
  background-color: white;
  opacity: 0.9;
  margin: 1px;
  text-align: center;
}

#audio{
  display: block;
  position: absolute;
  bottom: -30px;
  left: 240px;
}
